.sheet-main {
  display: grid;
  width: 800px;
  height: auto;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25px 100px 40px 80px 80px auto auto auto;
  grid-template-areas:"info    info    infor   infor"
                      "dice    dice    char    char"
                      "init    init    tabs    tabs"
                      "stats   stats   stats   stats"
                      "attri   attri   attri   attri"
                      "skill   skill   skills  skills"
                      "weapon  weapon  weapon  weapon"
                      "talent  talent  power   power";
}

/*----------------- GENERAL CSS ------------------*/

textarea {
  width: 90%;
  height: 85%;
}

select {
  width: 100%;
  height: 100%;
  font-size: 10pt;
  border: 1px transparent;
  border-bottom: 1px solid;
  background-color: transparent;
  text-align: left;
}

label {
  font-size: 8pt;
}

h2 {
  font-size: 14pt;
}

span {
  color: #51634b;
  font-size: 8pt;
  font-weight: bold;
}

.sheet-char-top-section-float {
  position: fixed;
  top: 20px;
}

.sheet-tab-button {
  background-color: #761213;
  color: #c8bcab;
}

.sheet-section {
    padding: 2px;
}

.sheet-flex-col {
  display: flex;
}

/*------------- Main Sheet-Section CSS -------------*/

.sheet-version-info {
  grid-area: info;
  justify-content: center;
}

.sheet-version-info1 {
  grid-area: infor;
  justify-content: center;
}

/*--------------- Dice Pool CSS --------------------*/

.sheet-dice {
  grid-area: dice;
  background-color: #354456;
}

.sheet-dice-inputs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 25px 25px;
  grid-gap: 2px;
}

.sheet-dice-pool-head {
  color: white;
  font-size: 12pt;
}

.sheet-bst-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/boost_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-abil-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/ability_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-prof-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/proficiency_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}  

.sheet-force-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/force_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-sbk-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/setback_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-diff-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/difficulty_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-chal-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/challenge_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-up-arrow {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/704124-Buff2_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-dwn-arrow {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/704184-Debuff4_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right;
  font-weight: bold;
}

button[type="roll"].sheet-reset-dice:before{
  content: ' ';
}


button[type="roll"].sheet-reset-dice{
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/reset_button.png?raw=true); 
  background-size: 26px 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  border-style: none;
  background-color: transparent;
  margin-left: 5px;
}

/*--- Character Info CSS ---*/

.sheet-character-info {
  grid-area: char;
  background-color: #cfd1ce;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 25%;
}

.sheet-char-info-input {
  border: 1px transparent;
  border-bottom: 1px solid;
  background-color: transparent;
  text-align: left;
}

/*--- Initiative Section CSS ---*/
.sheet-initiative {
  grid-area: init;
  display: grid;
  grid-template-columns: 75px 120px 50px;
  grid-template-rows: 15px 15px;
  grid-gap: 2px;
}

input.sheet-init-mod {
  width: 120px;
  height: 15px
  border: 1px solid;
  background-color: transparent;
}

button.sheet-init-roll {
  background-color: white;
}

/*--- Tabs Section CSS ---*/

.sheet-tabs {
  grid-area: tabs;
  background-color: #848482;
  padding-top: 7px;
}

/*--- Stats Section CSS ---*/

.sheet-stats {
  grid-area: stats;
  background-color: #72cddc;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
}

.sheet-soak-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/soak_box_small.png?raw=true);
  background-position: left;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-wounds-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/wounds_box_small.png?raw=true);
  background-position: left;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-strain-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/strain_box_small.png?raw=true);
  background-position: left;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-defense-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/defense_box_small.png?raw=true);
  background-position: left;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-force-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/force_box_small.png?raw=true);
  background-position: left;
  background-repeat: no-repeat;
  padding: none;
}

input.sheet-soak-stat,
input.sheet-wound-threshold-stat,
input.sheet-wound-current-stat,
input.sheet-strain-threshold-stat,
input.sheet-strain-current-stat,
input.sheet-defense-ranged-stat,
input.sheet-defense-melee-stat,
input.sheet-force-threshold-stat,
input.sheet-force-current-stat {
  font-weight: bold;
  font-size: 15pt;
  margin-top: 22px;
  border: 1px transparent;
  background-color: transparent;
}

input.sheet-soak-stat {
  margin-left: 40px;
  text-align: center;
}

input.sheet-wound-threshold-stat,
input.sheet-strain-threshold-stat,
input.sheet-defense-ranged-stat,
input.sheet-force-threshold-stat {
  text-align: right;
}

input.sheet-wound-current-stat,
input.sheet-strain-current-stat,
input.sheet-defense-melee-stat,
input.sheet-force-current-stat {
  text-align: left;
}

/*--- Characteristics CSS ---*/

.sheet-characteristics {
  grid-area: attri;
  background-color: #9d927e;
  grid-template-columns: repeat(6, 1fr);
  display: inline-grid;
}

.sheet-brawn-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/Stat%20Block_brawn_small.png?raw=true);
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-agility-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/Stat%20Block_agility_small.png?raw=true);
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-intellect-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/Stat%20Block_intellect_small.png?raw=true);
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-cunning-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/Stat%20Block_cunning_small.png?raw=true);
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-willpower-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/Stat%20Block_willpower_small.png?raw=true);
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  padding: none;
}

.sheet-presence-box {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/Stat%20Block_presence_small.png?raw=true);
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  padding: none;
}

input.sheet-ability-stat {
  font-weight: bold;
  font-size: 20pt;
  margin-top: 15px;
  margin-left: 28px;
  border: 1px transparent;
  background-color: transparent;
  text-align: center;
}


/*--- General Skills CSS ---*/
.sheet-general-skills {
  grid-area: skill;
  display: grid;
  background-color: #dcddd9;
  grid-template-columns: 150px 120px 100px;
  border: 1px solid;
}

.sheet-skill-row {
  display: grid;
  grid-template-columns: 150px 120px 100px;
  grid-template-rows: 18px;
}

input.sheet-skill-dicebox {
  font-size: 10pt
  width: 100px;
  height: 16px;
}

input.sheet-skill-modbox {
  font-size: 8pt;
  width: 100px;
  height: 16px;
  background-color: #dcddd9;
}

/*--- Other Skills CSS ---*/
.sheet-other-skills {
  grid-area: skills;
  display: grid;
  background-color: #dcddd9;
  grid-gap: 2px;
}

.sheet-combat-skills {
  display: grid;
  border: 1px solid;
}

.sheet-knowledge-skills {
  display: grid;
  border: 1px solid;
}

.sheet-custom-skills {
  display: grid;
  border: 1px solid;
}

/*--- Weapons CSS ---*/
.sheet-weapons {
  grid-area: weapon;
  background-color: #f7f7f5;
}

/*--- Talents CSS ---*/
.sheet-talents {
  grid-area: talent;
  background-color: #caccc9;
}

/*--- Powers CSS ---*/
.sheet-powers {
  grid-area: power;
  background-color: #caccc9;
}



