.sheet-main {
  display: grid;
  width: 800px;
  height: 900px;
  grid-gap: 4px;
  grid-template-columns: 100px 1fr 1fr 1fr;
  grid-template-rows: 100px 35px 200px 100px 100px 1fr 100px 100px;
  grid-template-areas: "blank  info   info   blank"
                       "dice   dice   char   char"
                       "tabs   tabs   blank  blank"
                       "stats  stats  stats  stats"
                       "attri  attri  attri  attri"
                       "skill  skill  skills skills"
                       "weapon weapon weapon weapon"
                       "talent talent power  power"
}

/*----------------- GENERAL CSS ------------------*/

textarea {
  width: 90%;
  height: 85%;
}

label {
  font-size: 8pt;
}

h2 {
  font-size: 14pt;
}

.sheet-section {
    padding: 5px;
}

.sheet-flex-col {
  display: flex;
  /*justify-content: flex-start;*/
}

.sheet-flex-center {
  align-items: center;
  justify-content: center;
}

/*--------------- Dice Pool CSS --------------------*/

.sheet-dice {
  grid-area: dice;
  border: solid 2px;
  border-color: #495558;
  background-color: #354456;
}

.sheet-dice-inputs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 25px 25px;
  grid-gap: 2px;
}

.sheet-dice-pool-head {
  color: white;
}

.sheet-bst-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/boost_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-abil-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/ability_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-prof-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/proficiency_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}  

.sheet-force-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/force_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-sbk-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/setback_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-diff-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/difficulty_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-chal-die {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/challenge_die_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-up-arrow {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/704124-Buff2_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: : 25px;
  background-position: right;
  font-weight: bold;
}

.sheet-dwn-arrow {
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/704184-Debuff4_small.png?raw=true);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right;
  font-weight: bold;
}

button[type="roll"].sheet-reset-dice:before{
  content: ' ';
}


button[type="roll"].sheet-reset-dice{
  background-image: url(https://github.com/InquisitorTremayne/FFG-SWRPG-R20-Sheet/blob/master/images/reset_button.png?raw=true); 
  background-size: 26px 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  border-style: none;
  background-color: transparent;
  margin-left: 5px;
}


/*------------- Main Sheet-specific CSS -------------*/

.sheet-tabs {
  grid-area: tabs;
  background-color: #848482;
}

.sheet-character-info {
  grid-area: char;
  background-color: #cfd1ce;
}

.sheet-version-info {
  grid-area: info;
}

.sheet-stats {
  grid-area: stats;
  background-color: #72cddc;
}

.sheet-characteristics {
  grid-area: attri;
  background-color: #9d927e;
}

.sheet-general-skills {
  grid-area: skill;
  background-color: #dcddd9;
}

.sheet-other-skills {
  grid-area: skills;
  background-color: #dcddd9;
}

.sheet-weapons {
  grid-area: weapon;
  background-color: #f7f7f5;
}

.sheet-talents {
  grid-area: talent;
  background-color: #caccc9;
}

.sheet-powers {
  grid-area: power;
  background-color: #caccc9;
}

