.sheet-main {
  display: grid;
  width: 800px;
  height: 900px;
  grid-gap: 4px;
  grid-template-columns: 100px 1fr 1fr 1fr;
  grid-template-rows: 100px 35px 200px 100px 100px 1fr 100px 100px;
  grid-template-areas:"dice    dice    dice    dice"
                      "tabs    tabs    tabs    tabs"
                      "char    char    char    info"
                      "stats   stats   stats   stats"
                      "attri   attri   attri   attri"
                      "skill   skill   skills  skills"
                      "weapon  weapon  weapon  weapon"
                      "talent  talent  power   power";
}

/*----------------- GENERAL CSS ------------------*/

textarea {
  width: 90%;
  height: 85%;
}

label {
  font-size: 12pt;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
}

.sheet-flex-col {
  display: flex;
  /*justify-content: flex-start;*/
}

.sheet-flex-center {
  align-items: center;
  justify-content: center;
}

/*------------- Section-specific CSS -------------*/

.sheet-dice {
  grid-area: dice;
}

.sheet-tabs {
  grid-area: tabs;
  background-color: #848482;
}

.sheet-character-info {
  grid-area: char;
  background-color: #cfd1ce;
}

.sheet-version-info {
  grid-area: info;
}

.sheet-stats {
  grid-area: stats;
  background-color: #72cddc;
}

.sheet-characteristics {
  grid-area: attri;
  background-color: #9d927e;
}

.sheet-general-skills {
  grid-area: skill;
  background-color: #dcddd9;
}

.sheet-other-skills {
  grid-area: skills;
  background-color: #dcddd9;
}

.sheet-weapons {
  grid-area: weapon;
  background-color: #f7f7f5;
}

.sheet-talents {
  grid-area: talent;
  background-color: #caccc9;
}

.sheet-powers {
  grid-area: power;
  background-color: #caccc9;
}

